{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

    <h2>Welcome {{ user.full_name }}</h2>

    <hr>

    <div class="card p-4">

        <h3>MoneyAssure Dashboard</h3>

        <p><b>Email :</b> {{ user.email }}</p>

        <p><b>Mobile :</b> {{ user.mobile }}</p>

        <p>
            <b>Subscription :</b>

            {% if user.is_paid %}
                <span style="color:lime;">ACTIVE</span>
            {% else %}
                <span style="color:red;">NOT ACTIVE</span>
            {% endif %}
        </p>



	<br>

	<a href="/open-scanner"
	   target="_blank"
	   rel="noopener noreferrer"
	   class="btn btn-success btn-lg w-100">
	    🚀 Open Live Scanner

	</a>

	<br><br>




        <a href="/logout" class="btn btn-danger">
            Logout
        </a>

    </div>

</div>

{% endblock %}
