{% extends "base.html" %}

{% block content %}

<div class="row align-items-center min-vh-75">

    <div class="col-lg-6 mb-5">

        <h1 class="display-4 fw-bold">
            AI Powered Trading Intelligence
        </h1>

        <p class="lead text-light mt-4">
            Live Scanner, Smart Money Detection,
            Options Analysis, Breakout Signals
            and Premium Trading Journal.
        </p>

        <div class="mt-5">

            <div class="mb-3">
                ✅ Live Scanner
            </div>

            <div class="mb-3">
                ✅ AI Signals
            </div>

            <div class="mb-3">
                ✅ Telegram Alerts
            </div>

            <div class="mb-3">
                ✅ Trading Journal
            </div>

        </div>

    </div>


    <div class="col-lg-6">

        <div class="card p-5">

            <h2 class="text-center mb-4">
                Login
            </h2>

            <form method="POST">

                <div class="mb-3">

                    <label>Email</label>

                    <input
                        type="email"
                        name="email"
                        class="form-control"
                        required>

                </div>

                <div class="mb-3">

                    <label>Password</label>

                    <input
                        type="password"
                        name="password"
                        class="form-control"
                        required>

                </div>

                <div class="text-end mb-4">

                    <a href="/forgot-password">
                        Forgot Password?
                    </a>

                </div>

                <button class="btn btn-info w-100">

                    Login

                </button>

            </form>

            <hr>

            <div class="text-center">

                Don't have an account?

                <a href="/register">

                    Register

                </a>

            </div>

        </div>

    </div>

</div>

{% endblock %}
