{% extends "base.html" %}

{% block content %}

<div style="width:450px;margin:60px auto;background:#1d2a44;padding:30px;border-radius:10px;color:white;">

<h2>Reset Password</h2>

<form method="POST">

<input
type="password"
name="password"
placeholder="New Password"
required
style="width:100%;padding:12px;">

<br><br>

<input
type="password"
name="confirm"
placeholder="Confirm Password"
required
style="width:100%;padding:12px;">

<br><br>

<button
style="width:100%;padding:12px;background:#28a745;color:white;border:none;">
Change Password
</button>

</form>

</div>

{% endblock %}
